.about-info-row {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}


.about-info-row p {
	font-family: kievThin;
}

.about-info-row li {
	font-family: kievThin;
}
.about-info-footer {
  display: flex;
  justify-content: center;
}

.about-info-footer a:hover {
  color: black;
}

.about-info-side p {
	font-family:kievThin;
}