<html>
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Article Page</title>

    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/article-intro.css" rel="stylesheet">
    <link href="../css/article.css" rel="stylesheet">
    <link href="../css/article-header.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/about-hadrian.css" rel="stylesheet">
  </head>
  <body>
    <nav class="article-header-stationary">
        <a href="../index.html">HOME</a>
        <a>&bull;</a>
        <a href="../index.html#about">ABOUT</a>
        <a>&bull;</a>
        <a href="article-intro.html">DSL</a>
        <a>&bull;</a>
        <a href="article-regex.html">REGEX</a>
        <a>&bull;</a>
        <a href="sql.html">SQL</a>
        <a>&bull;</a>
        <a href="matlab.html">MATLAB</a>
    </nav>

    <div class="container" style = "margin-top: 8vh;">
      <div class = "row justify-content-sm-center">
        <div class = "col-xs-12 col-sm-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#krispal" role="tab" aria-controls="krispal"><h3>Krispal</h3></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hadrian" role="tab" aria-controls="hadrian"><h3>Hadrian</h3></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#matthew" role="tab" aria-controls="matthew"><h3>Matthew</h3></a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="krispal" role="tabpanel">
                <div class = "row">
                  <div class = "col-md-4 col-sm-12">
                    <div class="card" style = "height:200px; border:none;">
                      <img class="rounded-circle" src="../img/user.png" alt="Card image cap" style = "height:200px; width:200px; border:1px solid #E1E1E1">
                    </div>
                  </div>
                  <div class ="col-md-2">
                  </div>
                  <div class = "col-md-6 col-sm-12">
                    <div class = "container" style="padding:20px;">
                      <p>
                        Hello! I'm Krispal!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="hadrian" role="tabpanel">
                <div class = "row">
                  <div class = "col-md-4 col-sm-12">
                    <div class="card" style = "height:200px; border:none;">
                      <img class="rounded-circle" src="../img/user.png" alt="Card image cap" style = "height:200px; width:200px; border:1px solid #E1E1E1">
                    </div>
                  </div>
                  <div class ="col-md-2">
                  </div>
                  <div class = "col-md-6 col-sm-12">
                    <div class = "container about-info-side">
                      <h4>About Me</h4>
                      <p>Hadrian Lim Wei Heng</p>
                      <p>Singaporean 🇸🇬</p>
                      <p>Bachelors of Engineering, Computing</p>
                      <p>Fluent in English, Mandarin Chinese</p>
                    </div>
                  </div>
                </div>
                <div class="row about-info-row">
                  <p>I enjoy building stuff. Here are some of the things that I have built:</p>
                  <ul>
                    <li>
                      Visualise - A mobile Augmented Reality application that allows users to visualise basic Linear Algebra concepts in 3D.
                    </li>
                    <li>tab-extender - Chrome Extension that extends functionality of tabbing. Allows users to quickly switch to a bookmarked tab or flush a tab to the right.</li>
                    <li>Toy Shooter - A 2.5D top down shooter game made in Unity that focuses on reflexes.</li>
                    <li>Tune Factor - Music based 2-factor authentication. Made at HackCity 2018.</li>
                  </ul>
                  <p>
                    When I am not on a computer building stuff, you will find me hunting for good places to stuff my face. 🤤🥄🍱🍛
                  </p>
                  <div class="about-info-footer">
                    <a href="https://github.com/hay-dee/">My GitHub</a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="matthew" role="tabpanel">
                <div class = "row">
                  <div class = "col-md-4 col-sm-12">
                    <div class="card" style = "height:200px; border:none;">
                      <img class="rounded-circle" src="../img/user.png" alt="Card image cap" style = "height:200px; width:200px; border:1px solid #E1E1E1">
                    </div>
                  </div>
                  <div class ="col-md-2">
                  </div>
                  <div class = "col-md-6 col-sm-12">
                    <div class = "container" style="padding:20px;">
                      <p>
                        Hello! I'm Matthew!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>


    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/tether/dist/js/tether.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../scripts/article-header.js"></script>
  </body>
</html>
