<html>
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Article Page</title>

    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/article-intro.css" rel="stylesheet">
    <link href="../css/article.css" rel="stylesheet">
    <link href="../css/article-header.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="article-header">
        <a href="../index.html">HOME</a>
        <a>&bull;</a>
        <a href="../index.html#about">ABOUT</a>
        <a>&bull;</a>
        <a href="article-intro.html">DSL</a>
        <a>&bull;</a>
        <a href="article-regex.html">REGEX</a>
        <a>&bull;</a>
        <a href="sql.html">SQL</a>
        <a>&bull;</a>
        <a href="matlab.html">MATLAB</a>
    </nav>

    <div class="article-container" style = "height:50%; margin-top: 20%;">


    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#krispal" role="tab" aria-controls="krispal">Krispal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#hadrian" role="tab" aria-controls="hadrian">Hadrian</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#matthew" role="tab" aria-controls="matthew">Matthew</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active" id="krispal" role="tabpanel">...</div>
      <div class="tab-pane fade" id="hadrian" role="tabpanel">hello</div>
      <div class="tab-pane fade" id="matthew" role="tabpanel">...</div>
    </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="../scripts/article-header.js"></script>
  </body>
</html>