<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>topics landing page</title>

		<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/mystyles.css" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">

			<div class="navbar-header" style = "text-align:center;">
				<button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal" style = "float:left; outline:none !important;">
				<a><img src = "img/menu.png"></a>
				</button>
                <h2 style="font-family: kinfolkFont">KITH</h2>
            </div>

		</nav>
		<hr>
		<div class = 'container article'>
			<div class = "row titlebox">
				<div class = "col-xs-12 col-md-6 sqlrow">
				</div>
				<div class = "col-xs-hidden col-md-1 verticalline">
				</div>
				<div class = "col-xs-12 col-md-5 sqltext">
					<h2 style = "font-family: futurathinFont;">SQL and Data </h2>
					<h6 style = "font-family: kinfolkFont">Learn why SQL is the preferred language among professionals...</h6>
					<h6 style = "margin: 20px;"><a class = "hover" href ="">READ MORE</a></h6>
					<font style = "font-family: futurathinFont; margin-top:20px;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">TECHNOLOGY</a></font>,
					<font style = "font-family: futurathinFont; margin-top:20px;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">SQL</a></font>,
					<font style = "font-family: futurathinFont; margin-top:20px;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">DATA</a></font>
				</div>
			</div>
		</div>

		<div class = "container article2">
			<div class = "row titlebox" style = "height:800px;">
				<div class = "col-md-4 col-xs-12 indivpost">
					<div class = "row imgcol">
						<div class = "col-md-12 col-xs-6 imgdronerow">
						</div>
						<div class = "col-md-12 col-xs-6" style = "text-align: center;">
							<font style = "font-family: futurathinFont;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">TECHNOLOGY</a></font>,
							<font style = "font-family: futurathinFont;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">ROBOTICS</a></font>
							<h4 style = "font-family: futurathinFont; margin-top: 20px;">Rise of The Drones</h4>
							<h6 style = "font-family: kinfolkFont">Are Robots becoming increasingly accessible?</h6>
							<h6 style = "margin: 20px;"><a class = "hover" href ="">READ MORE</a></h6>
						</div>
					</div>
				</div>
				<div class = "col-md-4 col-xs-12 indivpost">
					<div class = "row imgcol">
						<div class = "col-md-12 col-xs-6 imgdesignrow">
						</div>
						<div class = "col-md-12 col-xs-6" style = "text-align: center;">
							<font style = "font-family: futurathinFont;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">TECHNOLOGY</a></font>,
							<font style = "font-family: futurathinFont;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">DESIGN</a></font>
							<h4 style = "font-family: futurathinFont; margin-top: 20px;">Design and User Experience</h4>
							<h6 style = "font-family: kinfolkFont">Design sells, not tech</h6>
							<h6 style = "margin: 20px;"><a class = "hover" href ="">READ MORE</a></h6>
						</div>
					</div>					
				</div>
				<div class = "col-md-4 col-xs-12 indivpost">
					<div class = "row imgcol">
						<div class = "col-md-12 col-xs-6 imgvrrow">
						</div>
						<div class = "col-md-12 col-xs-6" style = "text-align: center;">
							<font style = "font-family: futurathinFont;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">TECHNOLOGY</a></font>,
							<font style = "font-family: futurathinFont;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">DESIGN</a></font>
							<h4 style = "font-family: futurathinFont; margin-top: 20px;">VR and AR</h4>
							<h6 style = "font-family: kinfolkFont">The turn of a century</h6>
							<h6 style = "margin: 20px;"><a class = "hover" href ="">READ MORE</a></h6>
						</div>
					</div>					
				</div>
			</div>
		</div>

		<br>

		<div class ="container horizontalline">
		</div>

		<div class = "container article">
			<div class = "row titlebox">
				<div class = "col-xs-12 col-md-6 gamerow">
				</div>
				<div class = "col-xs-hidden col-md-1 verticalline">
				</div>
				<div class = "col-xs-12 col-md-5 sqltext">
					<h2 style = "font-family: futurathinFont;">LUA and Game Engines</h2>
					<h6 style = "font-family: kinfolkFont">Why making video games is so easy now...</h6>
					<h6 style = "margin: 20px;"><a class = "hover" href ="">READ MORE</a></h6>
					<font style = "font-family: futurathinFont; margin-top:20px;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">TECHNOLOGY</a></font>,
					<font style = "font-family: futurathinFont; margin-top:20px;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">LUA</a></font>,
					<font style = "font-family: futurathinFont; margin-top:20px;" size = "-1"><a class = "hover" href ="" style = "color:#8C8C8C;">GAMES</a></font>
				</div>
			</div>			
		</div>



		<div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel"></h4>
					</div>
					<div class="modal-body" style = "font-family: futurathin">
						<h7>SQL AND DATABASES</h7>
						<br><br>
						<h7>SOLIDITY AND BLOCKCHAIN</h7>
						<br><br>
						<h7>LUA AND GAMES</h7>
						<hr>
						<h7>TUTORIALS</h7>
						<br><br>
						<h7>SAMPLE CODE</h7>
						<br><br>
						<h7>DISCUSSION</h7>
						<h7 class="copyright">(C) KITH 2018</h7>
					</div>
				</div>
			</div>
		</div>

		<div class ="container footerrow">
			<div class ="row">
				<div class ="col">
					<h7 style = "font-family: futurathin">(C) KITH 2018</h7>
				</div>
			</div>
		</div>


		<script src="node_modules/jquery/dist/jquery.min.js"></script>
    	<script src="node_modules/tether/dist/js/tether.min.js"></script>
    	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>