
<html>
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Article Page</title>

    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/article-regex.css" rel="stylesheet">
    <link href="../css/article-header.css" rel="stylesheet">
    <link href="../css/article-navbar.css" rel="stylesheet">
    <link href="../css/article.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
  </head>
  <body>
    <nav class="article-header">
        <a href="../index.html">HOME</a>
        <a>&bull;</a>
        <a href="">ABOUT</a>
        <a>&bull;</a>
        <a href="article-intro.html">DSL</a>
        <a>&bull;</a>
        <a href="article-regex.html">REGEX</a>
        <a>&bull;</a>
        <a href="">SQL</a>
        <a>&bull;</a>
        <a href="matlab.html">MATLAB</a>
    </nav>
    <div class="banner-div">
      <img class="banner-image" src="../img/nothotdog.jpg">
    </div>
    <div class="article-container shift-down-for-header">
      <div class="row">
        <div class="col-2">
          <nav id="article-nav" class="nav nav-pills flex-column">
            <a class="nav-link" href="#introduction">Introduction</a>
            <a class="nav-link" href="#why-use-matlab">Why use Matlab?</a>
            <a class="nav-link" href="#languagefeatures">Language Features</a>
            <nav class="nav flex-column">
              <a class="nav-link ml-3" href="#statanalysis">Statistical Analysis</a>
              <a class="nav-link ml-3" href="#imageprocessing">Image Processing</a>
              <a class="nav-link ml-3" href="#machinelearning">Machine Learning</a>
            </nav>
            <a class="nav-link" href="#wrappingup">Wrapping Up</a>
          </nav>
        </div>
         <div data-spy="scroll" data-target="#article-nav" class="col-8">
          <div id = "introduction">
            <h2>MATLAB</h2>
            <h2 id="para-1">Introduction</h2>
            <p>

              MATLAB, short for Matrix Laboratory, is a programming language designed for matrix manipulations, implementation of algorithms and the plotting of functions and data.

              Its design allows for a much more intuitive understanding of the code, where data points can be easily input into array variables.

            </p>

            <pre class = "prettyprint"><code>
x = [1 2 3 4]
y = [1 2 3 4]
            </code></pre>


            <p>
              There are many pre-existing built-in functions that allow for numerical analysis through MATLAB’s support of Graphical User Interface features, where it is very easy to plot graphs.
            </p>

            <pre class = "prettyprint"><code>
plot(x, y)
            </code></pre>

            <p>
              Through these features, MATLAB has found its use in various fields, due to the widespread use of linear algebra in problems like image processing, statistical analysis and machine learning.
            </p>
          </div>

          <div id = "why-use-matlab">
            <h2 id="para-2">So, why MATLAB?</h2>
            <p>
              Ultimately, programming languages like Java can in its own right, solve linear algebra problems. However, unlike Java or Python, which both require external imported modules or an extensive amount of code to carry out data analysis and matrix manipulation while providing graphical output, MATLAB overcomes this, by narrowing its scope, thereby lowering the learning curve, and making it much more accessible to users who have no programming experience whatsoever.
            </p>

            <p>
              Furthermore, a lot of mathematical operations involving matrices have been included into the syntax to make matrix operations much simpler, by "overloading" mathematical operators such as +, - and even *. To understand what I mean by overloading, let's take a quick glance at some of the language features that MATLAB possesses.
            </p>
          </div>

          <div id = "languagefeatures">
            <h2 id = "para-3">Language Features of MATLAB</h2>
            <p>
              When we talk about matrix operations, a few operations come into mind. Firstly, <b>scalar product</b> and secondly <b>vector product</b>. MATLAB was developed in such a way that many of these operations have been made much simpler and have been overloaded into traditional mathematical operations.
            </p>

            <p>
              For example, take integer product as an example. As we all know, vector product and integer product mean two completely separate things. As a result, when we use the mathematical operator * on two integers, as opposed to two vectors, the operations that * carries out on the two arguments should be completely different.
            </p>

            <p>
              And, for many programming languages, that is the case, where the mathematical operator * is only defined for numeric types. To have it include matrices, we would have to help code an additional definition, thereby "overloading" it. But, for MATLAB, these mathematical operators come "overloaded" to include the mathematical operations for matrices, making a lot of matrix operations much more intuitive and easy to implement.
            </p>

            <p>
              With two example matrices <b>u</b> and <b>v</b>, the table below outlines the basic matrix operations that can be carried out using the overloaded mathematical operands.
            </p>

            <p>
              When defining matrices, using a colon ";" would denote the end of the row of the matrix.
            </p>

          <pre class="prettyprint"><code>
u = [3; 1; 4];
v = [2 0 -1];
          </code></pre>

            <p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Matrix Operation</th>
                    <th>Explanation</th>
                    <th>Example Usage</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Vector Addition</td>
                    <td>Adding two matrices together</td>
                    <td>v + v</td>
                    <td>[4 0 -2]</td>
                  </tr>
                  <tr>
                    <td>Vector Subtraction</td>
                    <td>Subtracting one matrix from another</td>
                    <td>v - v</td>
                    <td>[0 0 0]</td>
                  </tr>
                  <tr>
                    <td>Scalar Product</td>
                    <td>Multiplying a matrix by a scalar value</td>
                    <td>v * 3</td>
                    <td>[6 0 -3]</td>
                  </tr>
                  <tr>
                    <td>Vector Product Example 1</td>
                    <td>Multiplying a 1x3 matrix with a 3x1 matrix</td>
                    <td>v * u</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Vector Product Example 2</td>
                    <td>Multiplying a 3x1 matrix with a 1x3 matrix</td>
                    <td>u x v</td>
                    <td>[6 0 -3; <br>2 0 -1;<br>8 0 -4]</td>
                  </tr>
                </tbody>
              </table>
            </p>



            <p>
              So using our understanding of how MATLAB simplifies many matrix operations, let’s take a look at how MATLAB uses these simplifications to make solving problems in the aforementioned fields of
            </p>

            <ol>
              <li>
                Statistical Analysis
              </li>
              <li>
                Image Processing
              </li>
              <li>
                Machine Learning
              </li>
            </ol>
            <p>
              much easier and perhaps, show you why MATLAB may be the better alternative when it comes to users who have had no programming experience at all.
            </p>


            <div id = "statanalysis">
              <h2>Statistical Analysis</h2>
              <p>
                MATLAB has many tools that help in statistical analysis. Given a dataset, MATLAB has many inbuilt functions that allow statistics to be very easily computed and then visualized.
              </p>

              <p>
                To give an overall perspective of the data, MATLAB can easily compute the mean, median and mode of the dataset. Given a data set, MATLAB provides many very intuitively defined functions.
              </p>

              <pre><code>
y = [1 2 3 4 5 6 7 8];
x = [0 4 5 8 9 3 2 8];
mean(y);
mode(y);
median(y);
cov(x, y);
              </code></pre>

              <p>
                Moving on from functions that compute statistics, let us survey some of the tools that MATLAB provides to easily visualize data. Depending on the relationships shared between your datasets and the type of your datasets, different visualizations are offered by MATLAB from scatterplots, histograms to boxplots. But, for now lets just look at how we can easily plot histograms and scatter plots in addition to the basic line plot.
              </p>

            <div class = 'row' style = "margin-bottom: 50px; margin-top: 50px; height: 400px;">
              <div class = 'col-xs-6 col-md-6' style = "vertical-align: middle; text-align: center margin-bottom:100px;">
                <div class = "card" style = "height:100%;" >
                  <img class="card-img-top" src="../img/scatter.png">
                  <div class = "card-body">
                    <p class = "card-text">Scatter Plot<br><pre><code>z = [1 1 1 2 2 2 2 3];<br> scatterplot(z, x);</code></pre> </p>
                  </div>
                </div>
              </div>

              <div class = 'col-xs-6 col-md-6' style = "vertical-align: middle; text-align: center">
                <div class = "card" style = "height:100%;">
                  <img class="card-img-top" src="../img/hist.png">
                  <div class = "card-body">
                    <p class = "card-text">Histogram<br><pre><code>hist(z)</code></pre> </p>
                  </div>
                </div>
              </div>
            </div>


            </div>


            <div id = "imageprocessing">

            <h2 id="para-4">Image Processing</h2>

            <p>
              All images are just matrices with a width and height corresponding to the number of pixels there are in the image. The value corresponding to the pixel in the matrix represents the intensity of the pixel’s “redness”, “greenness” and “blueness”, with numerical values that lie in the range of 0 to 255.
            </p>

            <p>
              Seeing as how images are all just matrices, many problems within the field of image processing are eventually just problems that have to do with matrix manipulation. Manipulations such as image rotation, image reflection are just simple problems of rearranging the values that lie within a matrix.
            </p>

            <p>
              So, let’s see how MATLAB stands against Java when it comes to problems like image rotation and changing images to become grayscale.
            </p>
            <div class="snippet">
              <pre class="prettyprint"><code>
public static Picture rotate(String fileLoc, String degree) {
Picture p = Utils.loadPicture(fileLoc);
int height = p.getHeight();
int width = p.getWidth();

if (degree.equals("90")) {

    Picture n = Utils.createPicture(height, width);
    for (int w = 0; w < width; w++) {
        for (int h = (height - 1); h >= 0; h--) {
            Color c = p.getPixel(w, h);
            n.setPixel((height - 1) - h, w, c);
        }
    }
    return n;

} else if (degree.equals("180")) {

    Picture n = Utils.createPicture(width, height);
    for (int h = (height-1); h >= 0; h--) {
        for (int w = (width - 1); w >= 0; w--) {
            Color c = p.getPixel(w, h);
            n.setPixel((width - 1) - w, (height - 1) - h, c);
        }
    }
    return n;

} else if (degree.equals("270")) {

    Picture n = Utils.createPicture(height, width);
    for (int w = (width - 1); w >= 0 ; w--) {
        for (int h = 0; h < height; h++) {
            Color c = p.getPixel(w, h);
            n.setPixel(h, (width - 1) - w, c);
        }
    }
    return n;

} else {
    System.out.println("Degree entered is not valid");
    return null;
}
               </code></pre>
              <div class="valigncenter vsdiv">
                <p>V.S.</p>
              </div>
              <div class="valigncenter">
                <pre class="prettyprint"><code>
imdata = imread(“file.jpg”);
imdata = imrotate(imdata, 90);
                </code></pre>
              </div>
            </div>



            <p>
              Arguably, the MATLAB code is using an extension toolkit which would be equivalent to importing external libraries in Java. However, this image processing toolkit comes pre-installed into many MATLAB versions, and is developed to work seamlessly with MATLAB. On the other hand, for Java, one has to source for an external library online, install it with its dependencies, and with any luck, it may not have any conflicts with your existing code.
            </p>

            </div>

            <div id = "machinelearning">

            <h2 id="para-5">Image Pre-processing and Machine Learning</h2>

            <p>
              Machine Learning is a field in a computer science that allows computers to solve problems of regression and classification by learning from data. For example, teaching a computer to identify objects in an image or predicting property prices are classification and regression problems respectively.
            </p>

            <p>
              Taking a closer look at image identification, there is typically some image pre-processing before an image is used as data to train the computer. Let’s use a simple example of pre-processing images and using it as training data for a machine learning model to highlight the simplicity of MATLAB.
            </p>

            <p>
              For those who have watched Silicon Valley, the hit HBO American TV comedy series that is set in its titular name, there is a recurring gag where a character designs an application that can only distinguish between a hotdog and basically anything else. So, let’s say we’re trying to train a computer to be able to do just that : identify hot dogs.
            </p>

            <div style = "margin-bottom: 50px; margin-top: 50px;">
              <img src = "../img/nohotdog.jpeg" style = "display: block; margin-right: auto; margin-left: auto;">
            </div>

            <p>
              Firstly, to reduce noise in the data by averaging out values across the image, a Gaussian filter is often convolved through the image.
            </p>

            <div class = 'row' style = "margin-bottom: 50px; margin-top: 50px; height: 300px;">
              <div class = "col-md-2">
              </div>
              <div class = 'col-xs-6 col-md-4' style = "vertical-align: middle; text-align: center">
                <div class = "card" style="height:100%;">
                  <img class="card-img-top" src="../img/hotdog.jpg">
                  <div class = "card-body">
                    <p class = "card-text">Before Applying Gaussian Filter</p>
                  </div>
                </div>
              </div>

              <div class = 'col-xs-6 col-md-4' style = "vertical-align: middle; text-align: center">
                <div class = "card" style="height:100%;">
                  <img class="card-img-top" src="../img/hotdoggaussian.png">
                  <div class = "card-body">
                    <p class = "card-text">After Applying Gaussian Filter</p>
                  </div>
                </div>
              </div>
              <div class = "col-md-2">
              </div>
            </div>

            <div class="snippet">
              <pre class="prettyprint"><code>
public static Picture gaussianFilter(Picture p) {
    int height = p.getHeight();
    int width = p.getWidth();
    int[][] gaussianKernel = {{16, 8, 16},
                                {8, 4, 8},
                              {16, 8, 16}};

    Picture n = Utils.createPicture(width, height);

    for (int h = 0; h < height; h++) {
        for (int w = 0; w < width; w++) {
            int bH = h - 1;
            int bW = w - 1;
            int eH = h + 1;
            int eW = w + 1;

            if ((bH >= 0) && (bW >= 0) && (eH < height) && (eW < width)){
                // Middle
                int r = 0;
                int g = 0;
                int b = 0;
                for (int nH = -1; nH <= 1; nH++) {
                    for (int nW = -1; nW <= 1; nW++) {
                        Color c = p.getPixel(w+nW, h+nH);
                        r += c.getRed() / gaussianKernel[1+nW][1+nH];
                        g += c.getGreen() / gaussianKernel[1+nW][1+nH];
                        b += c.getBlue() / gaussianKernel[1+nW][1+nH];
                    }
                }

                Color cNew = new Color (r, g, b);
                n.setPixel(w, h, cNew);
            } else {
                Color c = p.getPixel(w, h);
                n.setPixel(w, h, c);
            }
        }
    }

    return n;

}
     
               </code></pre>
              <div class="valigncenter vsdiv">
                <p>V.S.</p>
              </div>
              <div class="valigncenter">
                <pre class="prettyprint"><code>
imdata = imread(“file.jpg”);
imageblur = imgaussfilt(imdata);
                </code></pre>
              </div>
            </div>

            <p>
              Secondly, a Sobel-Edge operator may then be used on the image to emphasize the edges of the image, reducing any variance brought about by differing colors of same the object across different images.
            </p>

            <div class = 'row' style = "margin-bottom: 50px; margin-top: 50px; height: 300px;">
              <div class = "col-md-2">
              </div>
              <div class = 'col-xs-6 col-md-4' style = "vertical-align: middle; text-align: center">
                <div class = "card" style = "height:100%;">
                  <img class="card-img-top" src="../img/hotdoggaussian.png">
                  <div class = "card-body">
                    <p class = "card-text">Before Applying Sobel Filter</p>
                  </div>
                </div>
              </div>

              <div class = 'col-xs-6 col-md-4' style = "vertical-align: middle; text-align: center">
                <div class = "card" style="height:100%;">
                  <img class="card-img-top" src="../img/hotdogsobel.png">
                  <div class = "card-body">
                    <p class = "card-text">After Applying Sobel Filter</p>
                  </div>
                </div>
              </div>
              <div class = "col-md-2">
              </div>
            </div>

            <div class="snippet">
              <pre class="prettyprint"><code>
public static Picture sobelEdgeDetector(String fileLoc) {
    Picture p = Transformations.grayscale(fileLoc);
    int height = p.getHeight();
    int width = p.getWidth();

    int[][] sobelX = {{1, 0, -1},
                      {2, 0, -2},
                      {1, 0, -1}};

    int[][] sobelY = {{-1, -2, -1},
                      {0, 0, 0},
                      {1, 2, 1}};
    Picture n = Utils.createPicture(width, height);

    for (int h = 0; h < height; h++) {
        for (int w = 0; w < width; w++) {

            int bH = h - 1;
            int bW = w - 1;
            int eH = h + 1;
            int eW = w + 1;

            if ((bH >= 0) && (bW >= 0) && (eH < height) && (eW < width)) {
                int vx = 0;
                int vy = 0;
                for (int nH = -1; nH <= 1; nH++) {
                    for (int nW = -1; nW <= 1; nW++) {
                        Color c = p.getPixel(w + nW, h + nH);
                        int v = c.getRed();
                        vx += v * sobelX[1 + nW][1 + nH];
                        vy += v * sobelY[1 + nW][1 + nH];
                    }
                }

                int vNew = (int) (Math.ceil(Math.sqrt((vx * vx) + (vy * vy))));

                Color cNew = new Color(vNew, vNew, vNew);
                n.setPixel(w, h, cNew);
            } else {
                Color c = p.getPixel(w, h);
                n.setPixel(w, h, c);
            }
        }
    }

    return n;
}
     
               </code></pre>
              <div class="valigncenter vsdiv">
                <p>V.S.</p>
              </div>
              <div class="valigncenter">
                <pre class="prettyprint"><code>
imdata = imread(“file.jpg”);
imagesobel = edge(I,'sobel');
                </code></pre>
              </div>
            </div>


            <p>
              These two examples of image pre-processing already highlight how compact MATLAB is compared to Java when it comes to matrix manipulation. For the next step of training the machine learning model, the Java code will be omitted as it will be very verbose in contrast with MATLAB since the algorithm is much more complicated than just matrix manipulations.
            </p>

            <p>
              Using the processed data we have obtained, we can then feed it into a machine learning algorithm to be trained.
            </p>


            <pre class="prettyprint"><code>
  Xtrain = X(cv.training,:);
  Ytrain = y(cv.training,1);
  Xtest = X(cv.test,:);
  Ytest = y(cv.test,1);

  model = ClassificationTree.fit(Xtrain,Ytrain);
            </code></pre>

            <p>
              Using the model that we have trained, we can easily identify if the object in any other image is a hotdog, with just a single line of code.
            </p>

            <pre class="prettyprint"><code>
  ypred = predict(model,otherimage);
            </code></pre>


            <p>
              And there we have it, a machine learning model that has been trained to identify hot dogs! As we have seen so far, MATLAB really helps to simplify many of the steps involved, essentially reducing the code into the names of the processes we want the images to undergo.
            </p>

          </div>
        </div>
        <div id = "wrappingup">
          <h2>Wrapping Up</h2>
          <p>Congratulations on reaching the end of this short introduction to MATLAB. Through these examples, I hope that you have been able to understand the power of MATLAB and how it is able to solve many problems despite its simple syntax!</p>
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autorun=true&amp;skin=desert"></script>
  <script src="../scripts/article-header.js"></script>
  <script src="../scripts/article-navbar.js"></script>
  </body>
</html>
